<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title *ngFor="let p of quest">
      <ng-container *ngIf="quest.indexOf(p) === i">
      {{p.pregunta}}
      </ng-container>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-buttons *ngFor="let p of quest">
      <ion-buttons *ngIf="quest.indexOf(p) === i">
          <ion-button name="sinos" *ngFor="let q of p.respuestas" full (click)="fillResult(p.pos, q.number); siguentePregunta()">
              {{q.string}}
          </ion-button>
      </ion-buttons>
  </ion-buttons>
  

</ion-content>
